# Dataset Preprocessing

In [ ]:
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format
pd.options.display.max_columns = None

# Overview

In [2]:
df = pd.read_excel('../materials/baza zanonimizowana UZUPEŁNIONA.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 37 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   NEW IDENTIFIER                       407 non-null    object
 1   wiek                                 406 non-null    float64
 2   PSA                                  402 non-null    float64
 3   data operacji                        405 non-null    object
 4   PSAdensity                           0 non-null      float64
 5   Prostate vol                         1 non-null      float64
 6   DRE (0-prawidłowe; 1-nieprawidłowe)  68 non-null     float64
 7   MRI vol                              403 non-null    float64
 8   MRI Pirads                           403 non-null    float64
 9   lokalizacja                          39 non-null     object
 10  MRI EPE (naciek poza torebke)        405 non-null    float64
 11  MRI EPE L                            405 non-null    float64
 12  MRI EPE P                            405 non-null    float64
 13  MRI SVI (pecherzyki)                 405 non-null    float64
 14  MRI SVI L                            404 non-null    float64
 15  MRI SVI P                            405 non-null    float64
 16  MRI SIZE INDEX LESION                376 non-null    float64
 17  Bx ISUP Grade P                      406 non-null    object
 18  % P                                  227 non-null    float64
 19  ilość + wycinków P                   171 non-null    object
 20  Bx ISUP Grade L                      406 non-null    float64
 21  % L                                  210 non-null    float64
 22  Ilość + wycinków L                   166 non-null    object
 23  ISUP RP                              405 non-null    float64
 24  ISUP RP P                            405 non-null    float64
 25  ISUP RP L                            405 non-null    float64
 26  SM +                                 405 non-null    float64
 27  N +                                  405 non-null    float64
 28  EPE RP                               403 non-null    float64
 29  EPE L RP                             403 non-null    float64
 30  EPE P RP                             403 non-null    float64
 31  SVI RP                               404 non-null    float64
 32  SVI RP L                             404 non-null    float64
 33  SVI RP P                             404 non-null    float64
 34  TNM                                  404 non-null    object
 35  Kolumna2                             1 non-null      object
 36  Kolumna3                             2 non-null      object
dtypes: float64(28), object(9)
memory usage: 117.8+ KB

In [3]:
print(df.columns)

Index(['NEW IDENTIFIER', 'wiek', 'PSA', 'data operacji', 'PSAdensity',
       'Prostate vol ', 'DRE (0-prawidłowe; 1-nieprawidłowe)', 'MRI vol',
       'MRI Pirads', 'lokalizacja', 'MRI EPE (naciek poza torebke)',
       'MRI EPE L', 'MRI EPE P', 'MRI SVI (pecherzyki)', 'MRI SVI L',
       'MRI SVI P', 'MRI SIZE INDEX LESION', 'Bx ISUP Grade P', '% P',
       'ilość + wycinków P', 'Bx ISUP Grade L', '% L', 'Ilość + wycinków L',
       'ISUP RP', 'ISUP RP P', 'ISUP RP L', 'SM +', 'N +', 'EPE RP',
       'EPE L RP', 'EPE P RP', 'SVI RP', 'SVI RP L', 'SVI RP P', 'TNM',
       'Kolumna2', 'Kolumna3'],
      dtype='object')

In [4]:
new_names = {
    'NEW IDENTIFIER': 'ID',
    'Prostate vol ': 'Prostate vol',
    'DRE (0-prawidłowe; 1-nieprawidłowe)': 'DRE',
    'MRI EPE (naciek poza torebke)': 'MRI EPE',
    'MRI SVI (pecherzyki)': 'MRI SVI',
    'MRI SIZE INDEX LESION': 'MRI SIZE',
    'ilość\xa0+ wycinków P': 'wycinki P',
    'Ilość + wycinków L': 'wycinki L',
}

df.rename(columns=new_names, inplace=True)

In [5]:
df.head()

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
0,ID00000,63.00,5.11,NaN,NaN,NaN,NaN,35.00,4.00,Pzpłat tylni po stronie prawej,1.00,0.00,1.00,0.00,0.00,0.00,10.00,1,40.00,2na4,1.00,20.00,1na5,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2,NaN,NaN
1,ID00008,64.00,5.39,luty.21,NaN,NaN,NaN,30.00,3.00,PZpI/Pzpm po stronie prawe w cz. Środkowej (3)...,0.00,0.00,0.00,0.00,0.00,0.00,10.00,1,20.00,3na8,3.00,80.00,3na7,3.00,3.00,3.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,t3a,NaN,NaN
2,err,64.00,8.30,marzec.21,NaN,NaN,NaN,40.00,4.00,"TZp PP przypodstawanie, oraz pirads 3 PL -TZp",0.00,0.00,0.00,0.00,0.00,0.00,12.00,0,0.00,0na7,1.00,45.00,6na7,2.00,2.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
3,ID00285,64.00,17.10,2021-04-29 00:00:00,NaN,30.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30.00,3na6,0.00,0.00,0,3.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
4,ID00001,56.00,6.80,2016-10-01 00:00:00,NaN,NaN,NaN,34.00,5.00,PzPL/PZpm PL 5 oraz A/m Pz pI/Pzpm PL -4,0.00,0.00,0.00,0.00,0.00,0.00,17.00,2,100.00,NaN,1.00,NaN,NaN,3.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,pt2c,NaN,NaN

In [6]:
df.describe(include='all')

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
count,407,406.00,402.00,405,0.00,1.00,68.00,403.00,403.00,39,405.00,405.00,405.00,405.00,404.00,405.00,376.00,406.00,227.00,171,406.00,210.00,166,405.00,405.00,405.00,405.00,405.00,403.00,403.00,403.00,404.00,404.00,404.00,404,1,2
unique,405,NaN,NaN,331,NaN,NaN,NaN,NaN,NaN,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.00,NaN,36,NaN,NaN,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1,2
top,err,NaN,NaN,2017-09-14 00:00:00,NaN,NaN,NaN,NaN,NaN,PP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,NaN,1na5,NaN,NaN,3na5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t2c,N1,stan po CTX i HT podejrzenie meta
freq,3,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.00,NaN,20,NaN,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,243,1,1
mean,NaN,64.21,13.80,NaN,NaN,30.00,0.84,42.77,4.20,NaN,0.15,0.07,0.12,0.08,0.05,0.06,15.58,NaN,42.30,NaN,1.39,34.79,NaN,2.48,2.30,2.33,0.11,0.09,0.35,0.24,0.23,0.13,0.09,0.10,NaN,NaN,NaN
std,NaN,6.26,24.62,NaN,NaN,NaN,0.37,22.22,0.83,NaN,0.35,0.26,0.32,0.27,0.21,0.23,8.80,NaN,30.94,NaN,1.33,26.56,NaN,1.17,1.23,1.24,0.32,0.29,0.71,0.42,0.42,0.33,0.29,0.31,NaN,NaN,NaN
min,NaN,43.00,0.69,NaN,NaN,30.00,0.00,12.00,1.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0.00,NaN,0.00,0.00,NaN,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN
25%,NaN,61.00,5.90,NaN,NaN,30.00,1.00,30.00,4.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,10.00,NaN,15.00,NaN,0.00,15.00,NaN,2.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN
50%,NaN,64.00,8.05,NaN,NaN,30.00,1.00,37.00,4.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,13.00,NaN,35.00,NaN,1.00,30.00,NaN,2.00,2.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN
75%,NaN,68.00,12.67,NaN,NaN,30.00,1.00,50.50,5.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,19.00,NaN,70.00,NaN,2.00,50.00,NaN,3.00,3.00,3.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN
max,NaN,83.00,290.00,NaN,NaN,30.00,1.00,214.00,5.00,NaN,1.00,1.00,1.00,1.00,1.00,1.00,63.00,NaN,100.00,NaN,5.00,100.00,NaN,5.00,5.00,5.00,1.00,1.00,11.00,1.00,1.00,1.00,1.00,1.00,NaN,NaN,NaN

In [7]:
df[['% P', 'wycinki P', '% L', 'wycinki L']]

       % P wycinki P   % L wycinki L
0    40.00      2na4 20.00      1na5
1    20.00      3na8 80.00      3na7
2     0.00      0na7 45.00      6na7
3    30.00      3na6  0.00         0
4   100.00       NaN   NaN       NaN
..     ...       ...   ...       ...
402  30.00       NaN 40.00      3na3
403  20.00      3na6  3.00      1na6
404    NaN       NaN 20.00      5na5
405    NaN       NaN 50.00       NaN
406    NaN       NaN   NaN       NaN

[407 rows x 4 columns]

# Values sanitization

In [8]:
for col in df.columns:
    print(f"Column: {col}")
    print(df[col].unique())
    print("\n")

Column: ID
['ID00000' 'ID00008' 'err' 'ID00285' 'ID00001' 'ID00002' 'ID00003'
 'ID00004' 'ID00005' 'ID00006' 'ID00007' 'ID00010' 'ID00011' 'ID00012'
 'ID00013' 'ID00014' 'ID00015' 'ID00016' 'ID00017' 'ID00018' 'ID00019'
 'ID00020' 'ID00021' 'ID00022' 'ID00023' 'ID00024' 'ID00025' 'ID00026'
 'ID00027' 'ID00028' 'ID00029' 'ID00030' 'ID00031' 'ID00032' 'ID00033'
 'ID00034' 'ID00036' 'ID00037' 'ID00038' 'ID00039' 'ID00040' 'ID00041'
 'ID00042' 'ID00043' 'ID00044' 'ID00045' 'ID00046' 'ID00047' 'ID00048'
 'ID00049' 'ID00050' 'ID00051' 'ID00052' 'ID00053' 'ID00054' 'ID00055'
 'ID00056' 'ID00057' 'ID00058' 'ID00059' 'ID00060' 'ID00061' 'ID00062'
 'ID00063' 'ID00064' 'ID00065' 'ID00066' 'ID00067' 'ID00068' 'ID00069'
 'ID00070' 'ID00071' 'ID00072' 'ID00073' 'ID00074' 'ID00075' 'ID00076'
 'ID00077' 'ID00078' 'ID00079' 'ID00080' 'ID00081' 'ID00082' 'ID00083'
 'ID00084' 'ID00086' 'ID00087' 'ID00088' 'ID00089' 'ID00090' 'ID00091'
 'ID00092' 'ID00093' 'ID00094' 'ID00095' 'ID00096' 'ID00097' 'ID00098'
 'ID00099' 'ID00100' 'ID00101' 'ID00102' 'ID00103' 'ID00104' 'ID00105'
 'ID00106' 'ID00107' 'ID00108' 'ID00109' 'ID00110' 'ID00111' 'ID00112'
 'ID00113' 'ID00114' 'ID00115' 'ID00116' 'ID00117' 'ID00118' 'ID00119'
 'ID00120' 'ID00121' 'ID00122' 'ID00123' 'ID00124' 'ID00125' 'ID00126'
 'ID00127' 'ID00128' 'ID00129' 'ID00130' 'ID00131' 'ID00132' 'ID00133'
 'ID00134' 'ID00135' 'ID00136' 'ID00137' 'ID00138' 'ID00139' 'ID00141'
 'ID00142' 'ID00143' 'ID00144' 'ID00145' 'ID00146' 'ID00147' 'ID00148'
 'ID00149' 'ID00150' 'ID00151' 'ID00152' 'ID00153' 'ID00154' 'ID00155'
 'ID00156' 'ID00157' 'ID00158' 'ID00159' 'ID00160' 'ID00161' 'ID00162'
 'ID00163' 'ID00164' 'ID00165' 'ID00166' 'ID00167' 'ID00168' 'ID00169'
 'ID00170' 'ID00171' 'ID00172' 'ID00174' 'ID00175' 'ID00176' 'ID00177'
 'ID00178' 'ID00179' 'ID00180' 'ID00181' 'ID00182' 'ID00183' 'ID00184'
 'ID00185' 'ID00186' 'ID00187' 'ID00188' 'ID00189' 'ID00190' 'ID00191'
 'ID00192' 'ID00193' 'ID00194' 'ID00195' 'ID00196' 'ID00197' 'ID00198'
 'ID00199' 'ID00200' 'ID00201' 'ID00202' 'ID00203' 'ID00204' 'ID00205'
 'ID00206' 'ID00207' 'ID00208' 'ID00209' 'ID00210' 'ID00211' 'ID00212'
 'ID00213' 'ID00214' 'ID00215' 'ID00216' 'ID00217' 'ID00218' 'ID00219'
 'ID00220' 'ID00221' 'ID00222' 'ID00223' 'ID00225' 'ID00224' 'ID00226'
 'ID00227' 'ID00228' 'ID00229' 'ID00230' 'ID00231' 'ID00232' 'ID00233'
 'ID00234' 'ID00235' 'ID00236' 'ID00237' 'ID00238' 'ID00239' 'ID00240'
 'ID00241' 'ID00242' 'ID00243' 'ID00244' 'ID00245' 'ID00246' 'ID00247'
 'ID00248' 'ID00249' 'ID00250' 'ID00251' 'ID00252' 'ID00253' 'ID00254'
 'ID00255' 'ID00256' 'ID00257' 'ID00258' 'ID00259' 'ID00260' 'ID00261'
 'ID00264' 'ID00265' 'ID00266' 'ID00267' 'ID00268' 'ID00269' 'ID00270'
 'ID00271' 'ID00272' 'ID00273' 'ID00274' 'ID00275' 'ID00276' 'ID00278'
 'ID00279' 'ID00277' 'ID00281' 'ID00282' 'ID00283' 'ID00284' 'ID00286'
 'ID00287' 'ID00288' 'ID00289' 'ID00290' 'ID00291' 'ID00292' 'ID00293'
 'ID00294' 'ID00295' 'ID00296' 'ID00297' 'ID00298' 'ID00299' 'ID00300'
 'ID00301' 'ID00302' 'ID00303' 'ID00304' 'ID00305' 'ID00306' 'ID00308'
 'ID00309' 'ID00310' 'ID00311' 'ID00312' 'ID00313' 'ID00314' 'ID00315'
 'ID00316' 'ID00317' 'ID00318' 'ID00319' 'ID00320' 'ID00321' 'ID00322'
 'ID00323' 'ID00324' 'ID00325' 'ID00326' 'ID00327' 'ID00328' 'ID00329'
 'ID00330' 'ID00331' 'ID00332' 'ID00333' 'ID00334' 'ID00335' 'ID00336'
 'ID00337' 'ID00338' 'ID00339' 'ID00340' 'ID00341' 'ID00342' 'ID00343'
 'ID00344' 'ID00345' 'ID00346' 'ID00347' 'ID00348' 'ID00349' 'ID00350'
 'ID00351' 'ID00352' 'ID00353' 'ID00354' 'ID00355' 'ID00356' 'ID00357'
 'ID00358' 'ID00359' 'ID00360' 'ID00361' 'ID00362' 'ID00363' 'ID00364'
 'ID00365' 'ID00366' 'ID00367' 'ID00368' 'ID00369' 'ID00370' 'ID00371'
 'ID00372' 'ID00373' 'ID00374' 'ID00375' 'ID00376' 'ID00377' 'ID00378'
 'ID00379' 'ID00381' 'ID00382' 'ID00383' 'ID00384' 'ID00385' 'ID00386'
 'ID00387' 'ID00388' 'ID00390' 'ID00391' 'ID00392' 'ID00393' 'ID00394'
 'ID00395' 'ID00396' 'ID00397' 'ID00398' 'ID00399' 'ID00400' 'ID00402'
 'ID00403' 'ID00405' 'ID00406' 'ID00407' 'ID00408' 'ID00409' 'ID00410'
 'ID00411' 'ID00413' 'ID00414' 'ID00412' 'ID00404' 'ID00401']


Column: wiek
[63. 64. 56. 59. 52. 70. 72. 71. 68. 66. 53. 55. 65. 57. 77. 79. 75. 61.
 62. nan 69. 60. 58. 67. 73. 48. 74. 51. 76. 54. 45. 49. 50. 83. 43. 46.]


Column: PSA
[  5.11   5.39   8.3   17.1    6.8   40.    15.4   97.     6.7    4.75
  10.92   6.92   3.65  10.    35.     7.3   18.     9.     7.9   30.
   3.8    6.6   19.     5.2   13.     1.9    4.4    4.1    7.2   13.8
   8.6  209.    12.15   9.5    8.     7.     6.     7.8     nan   6.3
  17.5    5.9   42.2    6.1    5.7   16.9    7.5    5.6   12.     5.
   5.1   20.    51.     6.2   11.     5.8   15.2   13.5    8.8    9.1
  10.5    4.7   10.9   34.    13.9   32.     8.5    4.8   55.    14.5
   4.2   17.     4.3   12.7   10.8   12.9   31.     2.2    4.6    3.
  21.     2.8    3.9    2.4   22.     3.7   60.    27.8    9.3    5.3
 247.9   14.2    5.5   26.     2.9    5.4   12.4   16.8   10.7   11.2
  12.2    8.2   15.5    8.1   28.     4.5    8.4   17.4   11.4   36.
  10.2    6.4   45.2   11.9    9.8    7.1   38.     9.6    1.3    4.9
  12.6   12.5   14.7   13.1   19.9   12.3   12.1    6.5   19.2   18.7
   6.9   58.    16.4   15.9   11.7   16.5   34.4   19.3   14.     2.1
   9.7   20.6   21.2   44.    24.6    7.7   13.6   58.5   10.4    2.6
  69.    26.2   29.9   11.5   19.8   49.6    7.4  290.     3.5   86.
  13.4  134.     3.6   13.2   11.6   23.     8.9    4.     7.6   33.6
  14.62   0.69]


Column: data operacji
[nan 'luty.21' 'marzec.21' datetime.datetime(2021, 4, 29, 0, 0)
 datetime.datetime(2016, 10, 1, 0, 0) datetime.datetime(2017, 5, 1, 0, 0)
 datetime.datetime(2019, 1, 1, 0, 0) datetime.datetime(2019, 9, 1, 0, 0)
 'paz.17' datetime.datetime(2018, 12, 1, 0, 0)
 datetime.datetime(2016, 4, 1, 0, 0) datetime.datetime(2016, 11, 1, 0, 0)
 datetime.datetime(2015, 9, 1, 0, 0) datetime.datetime(2015, 11, 1, 0, 0)
 datetime.datetime(2018, 5, 1, 0, 0) datetime.datetime(2020, 9, 1, 0, 0)
 datetime.datetime(2018, 3, 1, 0, 0) datetime.datetime(2017, 2, 1, 0, 0)
 datetime.datetime(2018, 7, 1, 0, 0) datetime.datetime(2017, 4, 5, 0, 0)
 datetime.datetime(2017, 7, 1, 0, 0) datetime.datetime(2016, 6, 1, 0, 0)
 datetime.datetime(2017, 8, 1, 0, 0) datetime.datetime(2017, 1, 1, 0, 0)
 datetime.datetime(2018, 10, 1, 0, 0) datetime.datetime(2018, 4, 1, 0, 0)
 datetime.datetime(2015, 12, 1, 0, 0) datetime.datetime(2018, 2, 1, 0, 0)
 datetime.datetime(2018, 1, 1, 0, 0) datetime.datetime(2018, 8, 1, 0, 0)
 datetime.datetime(2020, 6, 23, 0, 0) datetime.datetime(2020, 6, 8, 0, 0)
 datetime.datetime(2018, 12, 17, 0, 0)
 datetime.datetime(2020, 8, 26, 0, 0) datetime.datetime(2018, 7, 19, 0, 0)
 datetime.datetime(2018, 4, 19, 0, 0) datetime.datetime(2018, 1, 9, 0, 0)
 datetime.datetime(2018, 12, 13, 0, 0)
 datetime.datetime(2019, 7, 19, 0, 0) datetime.datetime(2019, 5, 23, 0, 0)
 datetime.datetime(2017, 5, 31, 0, 0) datetime.datetime(2017, 7, 26, 0, 0)
 datetime.datetime(2020, 12, 2, 0, 0) datetime.datetime(2018, 5, 17, 0, 0)
 datetime.datetime(2016, 11, 22, 0, 0)
 datetime.datetime(2016, 11, 16, 0, 0)
 datetime.datetime(2017, 4, 11, 0, 0) datetime.datetime(2017, 8, 24, 0, 0)
 datetime.datetime(2016, 7, 7, 0, 0) datetime.datetime(2018, 2, 16, 0, 0)
 datetime.datetime(2018, 5, 25, 0, 0)
 datetime.datetime(2016, 10, 11, 0, 0) datetime.datetime(2016, 7, 5, 0, 0)
 datetime.datetime(2017, 12, 13, 0, 0) datetime.datetime(2018, 4, 4, 0, 0)
 datetime.datetime(2017, 4, 6, 0, 0) datetime.datetime(2017, 4, 27, 0, 0)
 datetime.datetime(2015, 11, 20, 0, 0)
 datetime.datetime(2020, 6, 25, 0, 0) datetime.datetime(2017, 1, 19, 0, 0)
 datetime.datetime(2018, 7, 30, 0, 0) datetime.datetime(2018, 9, 26, 0, 0)
 datetime.datetime(2017, 2, 15, 0, 0) datetime.datetime(2018, 1, 29, 0, 0)
 datetime.datetime(2018, 3, 7, 0, 0) datetime.datetime(2020, 4, 9, 0, 0)
 datetime.datetime(2017, 9, 12, 0, 0)
 datetime.datetime(2017, 11, 28, 0, 0)
 datetime.datetime(2017, 2, 22, 0, 0) datetime.datetime(2018, 8, 20, 0, 0)
 datetime.datetime(2016, 11, 9, 0, 0) datetime.datetime(2019, 5, 24, 0, 0)
 datetime.datetime(2018, 1, 3, 0, 0) datetime.datetime(2017, 12, 5, 0, 0)
 datetime.datetime(2020, 3, 19, 0, 0)
 datetime.datetime(2017, 12, 27, 0, 0)
 datetime.datetime(2017, 12, 20, 0, 0) datetime.datetime(2020, 7, 8, 0, 0)
 datetime.datetime(2016, 4, 28, 0, 0) datetime.datetime(2017, 9, 14, 0, 0)
 datetime.datetime(2016, 2, 4, 0, 0) datetime.datetime(2018, 8, 28, 0, 0)
 datetime.datetime(2019, 1, 14, 0, 0) datetime.datetime(2017, 9, 26, 0, 0)
 datetime.datetime(2018, 6, 11, 0, 0) datetime.datetime(2016, 7, 14, 0, 0)
 datetime.datetime(2020, 6, 17, 0, 0) datetime.datetime(2020, 4, 16, 0, 0)
 datetime.datetime(2019, 3, 18, 0, 0) datetime.datetime(2017, 6, 8, 0, 0)
 datetime.datetime(2017, 10, 27, 0, 0)
 datetime.datetime(2018, 4, 13, 0, 0) datetime.datetime(2018, 1, 22, 0, 0)
 datetime.datetime(2019, 3, 11, 0, 0) datetime.datetime(2017, 3, 9, 0, 0)
 datetime.datetime(2020, 11, 5, 0, 0) datetime.datetime(2018, 3, 23, 0, 0)
 datetime.datetime(2019, 2, 13, 0, 0)
 datetime.datetime(2015, 11, 25, 0, 0)
 datetime.datetime(2018, 5, 16, 0, 0)
 datetime.datetime(2018, 12, 18, 0, 0)
 datetime.datetime(2017, 6, 13, 0, 0)
 datetime.datetime(2018, 10, 12, 0, 0)
 datetime.datetime(2019, 2, 12, 0, 0) datetime.datetime(2020, 7, 23, 0, 0)
 datetime.datetime(2018, 3, 15, 0, 0)
 datetime.datetime(2017, 11, 20, 0, 0)
 datetime.datetime(2016, 3, 25, 0, 0) datetime.datetime(2016, 7, 1, 0, 0)
 datetime.datetime(2016, 8, 31, 0, 0) datetime.datetime(2017, 2, 20, 0, 0)
 datetime.datetime(2016, 11, 29, 0, 0)
 datetime.datetime(2019, 11, 21, 0, 0)
 datetime.datetime(2016, 9, 13, 0, 0) datetime.datetime(2016, 1, 27, 0, 0)
 datetime.datetime(2020, 10, 21, 0, 0) datetime.datetime(2018, 6, 7, 0, 0)
 datetime.datetime(2018, 1, 18, 0, 0) datetime.datetime(2018, 6, 28, 0, 0)
 datetime.datetime(2016, 10, 26, 0, 0)
 datetime.datetime(2020, 4, 15, 0, 0)
 datetime.datetime(2017, 11, 13, 0, 0)
 datetime.datetime(2017, 8, 31, 0, 0)
 datetime.datetime(2017, 11, 17, 0, 0)
 datetime.datetime(2019, 4, 11, 0, 0) datetime.datetime(2017, 7, 25, 0, 0)
 datetime.datetime(2016, 12, 13, 0, 0) datetime.datetime(2017, 5, 8, 0, 0)
 datetime.datetime(2015, 11, 5, 0, 0)
 datetime.datetime(2015, 11, 19, 0, 0)
 datetime.datetime(2017, 3, 27, 0, 0) datetime.datetime(2018, 6, 20, 0, 0)
 datetime.datetime(2015, 11, 27, 0, 0)
 datetime.datetime(2016, 3, 10, 0, 0) datetime.datetime(2017, 9, 18, 0, 0)
 datetime.datetime(2019, 1, 31, 0, 0) datetime.datetime(2017, 3, 8, 0, 0)
 datetime.datetime(2017, 5, 19, 0, 0) datetime.datetime(2017, 4, 24, 0, 0)
 datetime.datetime(2018, 10, 5, 0, 0) datetime.datetime(2017, 5, 9, 0, 0)
 datetime.datetime(2016, 4, 19, 0, 0) datetime.datetime(2019, 11, 8, 0, 0)
 datetime.datetime(2020, 4, 27, 0, 0) datetime.datetime(2016, 2, 2, 0, 0)
 datetime.datetime(2017, 8, 23, 0, 0) datetime.datetime(2017, 1, 31, 0, 0)
 datetime.datetime(2020, 5, 22, 0, 0)
 datetime.datetime(2016, 10, 25, 0, 0) datetime.datetime(2018, 1, 4, 0, 0)
 datetime.datetime(2016, 6, 2, 0, 0) datetime.datetime(2015, 10, 28, 0, 0)
 datetime.datetime(2020, 12, 16, 0, 0) datetime.datetime(2017, 9, 5, 0, 0)
 datetime.datetime(2019, 3, 25, 0, 0) datetime.datetime(2020, 1, 15, 0, 0)
 datetime.datetime(2020, 11, 26, 0, 0)
 datetime.datetime(2018, 9, 21, 0, 0)
 datetime.datetime(2020, 12, 11, 0, 0)
 datetime.datetime(2017, 7, 11, 0, 0) datetime.datetime(2016, 7, 25, 0, 0)
 datetime.datetime(2015, 12, 18, 0, 0) datetime.datetime(2020, 4, 3, 0, 0)
 datetime.datetime(2018, 7, 17, 0, 0) datetime.datetime(2018, 4, 17, 0, 0)
 datetime.datetime(2018, 5, 15, 0, 0) datetime.datetime(2017, 5, 5, 0, 0)
 datetime.datetime(2020, 8, 18, 0, 0) datetime.datetime(2017, 10, 2, 0, 0)
 datetime.datetime(2018, 3, 5, 0, 0) datetime.datetime(2016, 10, 14, 0, 0)
 datetime.datetime(2018, 9, 4, 0, 0) datetime.datetime(2018, 8, 23, 0, 0)
 datetime.datetime(2017, 3, 2, 0, 0) datetime.datetime(2018, 8, 14, 0, 0)
 datetime.datetime(2016, 5, 5, 0, 0) datetime.datetime(2019, 2, 22, 0, 0)
 datetime.datetime(2017, 8, 2, 0, 0) datetime.datetime(2017, 4, 20, 0, 0)
 datetime.datetime(2017, 5, 11, 0, 0) datetime.datetime(2020, 6, 16, 0, 0)
 datetime.datetime(2017, 10, 25, 0, 0)
 datetime.datetime(2018, 7, 16, 0, 0)
 datetime.datetime(2017, 11, 15, 0, 0) datetime.datetime(2016, 9, 8, 0, 0)
 datetime.datetime(2017, 5, 15, 0, 0) datetime.datetime(2018, 10, 4, 0, 0)
 datetime.datetime(2017, 4, 3, 0, 0) datetime.datetime(2017, 3, 20, 0, 0)
 datetime.datetime(2020, 10, 23, 0, 0) datetime.datetime(2017, 6, 7, 0, 0)
 datetime.datetime(2016, 3, 1, 0, 0) datetime.datetime(2020, 11, 16, 0, 0)
 datetime.datetime(2018, 12, 27, 0, 0)
 datetime.datetime(2016, 4, 14, 0, 0)
 datetime.datetime(2018, 11, 29, 0, 0)
 datetime.datetime(2017, 4, 19, 0, 0) datetime.datetime(2017, 4, 14, 0, 0)
 datetime.datetime(2019, 1, 3, 0, 0) datetime.datetime(2018, 4, 20, 0, 0)
 datetime.datetime(2017, 8, 8, 0, 0) datetime.datetime(2018, 9, 17, 0, 0)
 datetime.datetime(2015, 11, 10, 0, 0)
 datetime.datetime(2020, 5, 14, 0, 0) datetime.datetime(2017, 5, 25, 0, 0)
 datetime.datetime(2017, 9, 19, 0, 0) datetime.datetime(2019, 1, 10, 0, 0)
 datetime.datetime(2018, 1, 11, 0, 0)
 datetime.datetime(2016, 11, 24, 0, 0)
 datetime.datetime(2020, 6, 26, 0, 0) datetime.datetime(2016, 4, 26, 0, 0)
 datetime.datetime(2020, 11, 3, 0, 0) datetime.datetime(2020, 4, 6, 0, 0)
 datetime.datetime(2018, 8, 30, 0, 0) datetime.datetime(2018, 12, 5, 0, 0)
 datetime.datetime(2017, 5, 29, 0, 0) datetime.datetime(2016, 11, 2, 0, 0)
 datetime.datetime(2016, 4, 5, 0, 0) datetime.datetime(2018, 2, 13, 0, 0)
 datetime.datetime(2016, 11, 7, 0, 0) datetime.datetime(2018, 3, 14, 0, 0)
 datetime.datetime(2018, 3, 30, 0, 0) datetime.datetime(2018, 6, 26, 0, 0)
 datetime.datetime(2018, 6, 15, 0, 0) datetime.datetime(2020, 2, 24, 0, 0)
 datetime.datetime(2018, 10, 30, 0, 0)
 datetime.datetime(2018, 8, 22, 0, 0) datetime.datetime(2019, 1, 16, 0, 0)
 datetime.datetime(2018, 7, 12, 0, 0) datetime.datetime(2018, 3, 20, 0, 0)
 datetime.datetime(2017, 10, 17, 0, 0)
 datetime.datetime(2016, 4, 13, 0, 0)
 datetime.datetime(2016, 10, 28, 0, 0)
 datetime.datetime(2017, 10, 31, 0, 0) datetime.datetime(2017, 3, 6, 0, 0)
 datetime.datetime(2016, 6, 28, 0, 0) datetime.datetime(2016, 3, 8, 0, 0)
 datetime.datetime(2017, 8, 29, 0, 0)
 datetime.datetime(2018, 11, 19, 0, 0)
 datetime.datetime(2018, 1, 16, 0, 0) datetime.datetime(2017, 3, 16, 0, 0)
 datetime.datetime(2017, 4, 12, 0, 0) datetime.datetime(2016, 6, 21, 0, 0)
 datetime.datetime(2018, 11, 7, 0, 0)
 datetime.datetime(2020, 10, 12, 0, 0)
 datetime.datetime(2020, 1, 10, 0, 0)
 datetime.datetime(2015, 12, 16, 0, 0)
 datetime.datetime(2019, 3, 12, 0, 0) datetime.datetime(2018, 3, 9, 0, 0)
 datetime.datetime(2015, 7, 23, 0, 0) datetime.datetime(2018, 7, 26, 0, 0)
 datetime.datetime(2019, 3, 7, 0, 0) datetime.datetime(2016, 7, 22, 0, 0)
 datetime.datetime(2016, 2, 19, 0, 0)
 datetime.datetime(2015, 12, 11, 0, 0) datetime.datetime(2020, 2, 5, 0, 0)
 datetime.datetime(2017, 5, 23, 0, 0) datetime.datetime(2017, 9, 27, 0, 0)
 datetime.datetime(2017, 10, 3, 0, 0) datetime.datetime(2018, 2, 28, 0, 0)
 datetime.datetime(2020, 5, 28, 0, 0) datetime.datetime(2017, 6, 14, 0, 0)
 datetime.datetime(2017, 12, 6, 0, 0) datetime.datetime(2018, 11, 6, 0, 0)
 datetime.datetime(2017, 12, 7, 0, 0) datetime.datetime(2020, 5, 18, 0, 0)
 datetime.datetime(2016, 4, 22, 0, 0) datetime.datetime(2016, 3, 11, 0, 0)
 datetime.datetime(2016, 2, 29, 0, 0) datetime.datetime(2018, 9, 3, 0, 0)
 datetime.datetime(2016, 9, 29, 0, 0)
 datetime.datetime(2016, 10, 27, 0, 0)
 datetime.datetime(2018, 9, 19, 0, 0) datetime.datetime(2020, 6, 22, 0, 0)
 datetime.datetime(2017, 7, 5, 0, 0) datetime.datetime(2020, 11, 9, 0, 0)
 datetime.datetime(2016, 10, 6, 0, 0)
 datetime.datetime(2017, 12, 28, 0, 0)
 datetime.datetime(2018, 10, 25, 0, 0) datetime.datetime(2020, 8, 6, 0, 0)
 datetime.datetime(2020, 11, 19, 0, 0)
 datetime.datetime(2016, 6, 15, 0, 0) datetime.datetime(2018, 9, 11, 0, 0)
 datetime.datetime(2018, 11, 21, 0, 0)
 datetime.datetime(2018, 10, 29, 0, 0)
 datetime.datetime(2017, 9, 28, 0, 0) datetime.datetime(2016, 4, 8, 0, 0)
 datetime.datetime(2017, 12, 21, 0, 0)
 datetime.datetime(2015, 9, 23, 0, 0) datetime.datetime(2020, 5, 8, 0, 0)
 datetime.datetime(2017, 1, 26, 0, 0) datetime.datetime(2020, 9, 24, 0, 0)
 datetime.datetime(2015, 12, 8, 0, 0) datetime.datetime(2018, 10, 9, 0, 0)
 datetime.datetime(2016, 5, 6, 0, 0) datetime.datetime(2017, 7, 4, 0, 0)
 datetime.datetime(2017, 10, 18, 0, 0)
 datetime.datetime(2016, 6, 16, 0, 0)
 datetime.datetime(2017, 11, 14, 0, 0)
 datetime.datetime(2018, 3, 19, 0, 0)
 datetime.datetime(2018, 11, 27, 0, 0)
 datetime.datetime(2015, 10, 9, 0, 0) datetime.datetime(2020, 8, 12, 0, 0)
 datetime.datetime(2017, 6, 6, 0, 0) datetime.datetime(2016, 4, 29, 0, 0)
 datetime.datetime(2018, 12, 10, 0, 0)
 datetime.datetime(2017, 3, 15, 0, 0) datetime.datetime(2016, 6, 17, 0, 0)
 datetime.datetime(2016, 3, 17, 0, 0) datetime.datetime(2019, 4, 18, 0, 0)
 datetime.datetime(2020, 1, 29, 0, 0)
 datetime.datetime(2016, 11, 14, 0, 0)
 datetime.datetime(2015, 9, 25, 0, 0) datetime.datetime(2017, 1, 4, 0, 0)
 datetime.datetime(2018, 3, 6, 0, 0) datetime.datetime(2016, 1, 5, 0, 0)
 datetime.datetime(2018, 7, 25, 0, 0) datetime.datetime(2018, 8, 31, 0, 0)
 datetime.datetime(2016, 3, 24, 0, 0) datetime.datetime(2017, 6, 2, 0, 0)
 datetime.datetime(2016, 2, 26, 0, 0) datetime.datetime(2020, 5, 12, 0, 0)
 datetime.datetime(2017, 9, 21, 0, 0) datetime.datetime(2018, 1, 17, 0, 0)
 datetime.datetime(2017, 12, 18, 0, 0)
 datetime.datetime(2018, 3, 29, 0, 0) datetime.datetime(2017, 2, 16, 0, 0)
 datetime.datetime(2018, 5, 29, 0, 0) datetime.datetime(2016, 2, 24, 0, 0)
 datetime.datetime(2015, 9, 3, 0, 0) datetime.datetime(2016, 6, 10, 0, 0)
 datetime.datetime(2018, 6, 4, 0, 0)]


Column: PSAdensity
[nan]


Column: Prostate vol
[nan 30.]


Column: DRE
[nan  0.  1.]


Column: MRI vol
[ 35.  30.  40.  nan  34.  18.  44.  64.  28.  38.  37.  55.  58.  31.
  43.  21.  73.  22.  32.  27.  78.  49.  65.  53.  39.  33.  41.  23.
  25.  59.  26. 122. 103.  36.  61.  48.  24.  50.  89.  45.  29. 101.
  46.  62. 214.  42.  84.  51.  16.  82.  67.  54.  90.  47.  12. 106.
  76.  60.  66.  19.  86.  79.  57.  63.  20.  85.  74.  56.  87.  97.
  52.  71. 154.  15.  81. 165.  68. 138.  75.  69.  72.  83.  80.  77.
  13.]


Column: MRI Pirads
[ 4.  3. nan  5.  2.  1.]


Column: lokalizacja
['Pzpłat tylni po stronie prawej'
 'PZpI/Pzpm po stronie prawe w cz. Środkowej (3) oraz kolejna zmiana PZpI w cz. Srod (3) płat lewy'
 'TZp PP przypodstawanie, oraz pirads 3 PL -TZp' nan
 'PzPL/PZpm PL 5 oraz A/m Pz pI/Pzpm PL -4'
 'PzpI/PZpm PP 4, Pza/Pz pI/Pz pm  PL - 5, Tza PL- 5  '
 'Tza M A PL - 5, PL + PP PZ pirads 3' 'PzPI M PL'
 'PZ cały płat prawy oraz częściowo lewy' 'PZ  PP - 4'
 'PZ A+M PP -5, PZ płat lewy -3' 'PzPI/Pzpm - PP A -4 '
 'PzA  M PL - 4, Pza/PzpI M/B PP - 4,  PzA A/M PP - 4' 'PZpI M PP - 4'
 'Tza A -PP - 3, Tza/Tzp M - PP -4, Tza - M PL - 4' 'Tza PP - 5'
 'PzpI A PL -4' 'PzpI M PP-4' 'PzpI/Pzpm A PP -4' 'Pz PP - 3' 'PZa/AS/TZa'
 'PzPm /PZ pl PP - 5' 'PP' 'PL' 'Pp+PL' 'PP - 4 , PL - 5' 'PP+PL'
 'PP + troche PL' 'PZpl/PZpm' 'PZpm']


Column: MRI EPE
[ 1.  0. nan]


Column: MRI EPE L
[ 0. nan  1.]


Column: MRI EPE P
[ 1.  0. nan]


Column: MRI SVI
[ 0. nan  1.]


Column: MRI SVI L
[ 0. nan  1.]


Column: MRI SVI P
[ 0. nan  1.]


Column: MRI SIZE
[10.  12.   nan 17.  18.  23.   6.  11.  15.  13.  24.  14.   9.  20.
 16.  34.  26.   0.   8.  25.  60.  33.  31.   5.  28.  19.  37.   7.
 38.  22.  21.   4.  36.  42.  30.  35.  29.  44.  40.  14.5 63.  32.
 27. ]


Column: Bx ISUP Grade P
[1 0 2 4 3 5 nan 'STUMP']


Column: % P
[ 40.   20.    0.   30.  100.   60.    nan  10.   45.    0.1   1.    5.
   6.   15.   90.   80.   50.   35.   70.   27.   25.   65.   55.    4.
  85.   75.    7.   12.   95.   36.   57.   37.    3.    2.   38. ]


Column: wycinki P

In [9]:
df[df['Bx ISUP Grade P'] == 'STUMP']

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
313,ID00319,72.00,4.60,2020-05-18 00:00:00,NaN,NaN,NaN,165.00,2.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,63.00,STUMP,NaN,NaN,0.00,NaN,NaN,2.00,2.00,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

?????????

In [10]:
df.drop(313, inplace=True)

In [11]:
df[df['TNM'] == '?']

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
280,err,70.00,4.40,2018-01-16 00:00:00,NaN,NaN,0.00,59.00,5.00,NaN,1.00,1.00,1.00,1.00,1.00,1.00,31.00,1,30.00,3na6,0.00,NaN,NaN,4.00,4.00,4.00,0.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,?,NaN,NaN

In [12]:
df.at[280, 'TNM'] = 't3a'

In [13]:
df[df['TNM'] == 'pt2c']

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
4,ID00001,56.00,6.80,2016-10-01 00:00:00,NaN,NaN,NaN,34.00,5.00,PzPL/PZpm PL 5 oraz A/m Pz pI/Pzpm PL -4,0.00,0.00,0.00,0.00,0.00,0.00,17.00,2,100.00,NaN,1.00,NaN,NaN,3.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,pt2c,NaN,NaN
32,ID00031,72.00,13.80,2018-04-01 00:00:00,NaN,NaN,NaN,49.00,5.00,"PP - 4 , PL - 5",1.00,1.00,0.00,0.00,0.00,0.00,26.00,1,6.00,2na6,1.00,3.00,1na6,2.00,1.00,2.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,pt2c,NaN,NaN

In [14]:
df.at[4, 'TNM'] = 't2c'
df.at[32, 'TNM'] = 't2c'

In [15]:
df[df['EPE RP'] == 11]

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
224,ID00226,61.00,6.20,2017-08-08 00:00:00,NaN,NaN,NaN,31.00,3.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,13.00,1,50.00,NaN,3.00,50.00,NaN,2.00,2.00,2.00,0.00,0.00,11.00,1.00,0.00,0.00,0.00,0.00,t3a,NaN,NaN

In [16]:
df.at[224, 'EPE RP'] = 1.0

In [17]:
df[df['ID'] == 'err']

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
2,err,64.00,8.30,marzec.21,NaN,NaN,NaN,40.00,4.00,"TZp PP przypodstawanie, oraz pirads 3 PL -TZp",0.00,0.00,0.00,0.00,0.00,0.00,12.00,0,0.00,0na7,1.00,45.00,6na7,2.00,2.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
85,err,65.00,7.80,2017-12-27 00:00:00,NaN,NaN,1.00,58.00,5.00,NaN,1.00,1.00,0.00,1.00,1.00,0.00,37.00,2,90.00,NaN,0.00,NaN,NaN,5.00,4.00,5.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,t3b,NaN,NaN
280,err,70.00,4.40,2018-01-16 00:00:00,NaN,NaN,0.00,59.00,5.00,NaN,1.00,1.00,1.00,1.00,1.00,1.00,31.00,1,30.00,3na6,0.00,NaN,NaN,4.00,4.00,4.00,0.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,t3a,NaN,NaN

In [18]:
df.at[2, 'ID'] = 'ID00500'
df.at[85, 'ID'] = 'ID00501'
df.at[280, 'ID'] = 'ID00502'

# Missing values

In [19]:
non_missing_count_df = pd.DataFrame(len(df) - df.isna().sum()).reset_index().rename(columns={'index': 'column', 0: 'non_missing_count'})
low_values_cols = non_missing_count_df[non_missing_count_df['non_missing_count'] < len(df)* 0.15]['column'].tolist()
low_values_cols

['PSAdensity', 'Prostate vol', 'lokalizacja', 'Kolumna2', 'Kolumna3']

In [20]:
df.notnull().sum()

ID                 406
wiek               405
PSA                401
data operacji      404
PSAdensity           0
Prostate vol         1
DRE                 68
MRI vol            402
MRI Pirads         402
lokalizacja         39
MRI EPE            404
MRI EPE L          404
MRI EPE P          404
MRI SVI            404
MRI SVI L          403
MRI SVI P          404
MRI SIZE           375
Bx ISUP Grade P    405
% P                227
wycinki P          171
Bx ISUP Grade L    405
% L                210
wycinki L          166
ISUP RP            404
ISUP RP P          404
ISUP RP L          404
SM +               405
N +                405
EPE RP             403
EPE L RP           403
EPE P RP           403
SVI RP             404
SVI RP L           404
SVI RP P           404
TNM                404
Kolumna2             1
Kolumna3             2
dtype: int64

In [21]:
df['PSAdensity'] = df['PSA'] / df['MRI vol']

In [22]:
df[df['PSAdensity'].isnull()]

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
3,ID00285,64.00,17.10,2021-04-29 00:00:00,NaN,30.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30.00,3na6,0.00,0.00,0,3.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
41,ID00041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,ID00069,72.00,NaN,2017-01-19 00:00:00,NaN,NaN,NaN,101.00,3.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,12.00,2,80.00,1na3,1.00,80.00,1na3,2.00,2.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
150,ID00151,67.00,12.40,2017-03-08 00:00:00,NaN,NaN,NaN,NaN,3.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,14.00,1,NaN,1na4,0.00,NaN,NaN,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
193,ID00195,68.00,9.10,2019-02-22 00:00:00,NaN,NaN,NaN,NaN,4.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,11.00,1,NaN,NaN,1.00,NaN,NaN,2.00,2.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
260,ID00264,66.00,NaN,2018-10-30 00:00:00,NaN,NaN,NaN,45.00,5.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,18.00,2,75.00,NaN,1.00,10.00,NaN,3.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
305,ID00311,72.00,NaN,2018-02-28 00:00:00,NaN,NaN,NaN,47.00,5.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,15.00,2,70.00,NaN,1.00,5.00,NaN,3.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
330,ID00336,68.00,NaN,2018-10-25 00:00:00,NaN,NaN,1.00,60.00,4.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,7.00,4,40.00,NaN,2.00,5.00,NaN,3.00,2.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN

In [23]:
df[df['wiek'].isnull()]

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
41,ID00041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.drop(df[df['wiek'].isnull()]['ID'].index, inplace=True)

In [25]:
df[df['MRI vol'].isnull()]

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
3,ID00285,64.00,17.10,2021-04-29 00:00:00,NaN,30.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30.00,3na6,0.00,0.00,0,3.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
150,ID00151,67.00,12.40,2017-03-08 00:00:00,NaN,NaN,NaN,NaN,3.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,14.00,1,NaN,1na4,0.00,NaN,NaN,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
193,ID00195,68.00,9.10,2019-02-22 00:00:00,NaN,NaN,NaN,NaN,4.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,11.00,1,NaN,NaN,1.00,NaN,NaN,2.00,2.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN

Patient 285 is missing whole MRI data which is crucial for prediction, thus we delete this patient.

For patients 151 and 195 MRI vol is filled in based on median value of the column for all patients with same TNM, then PSAdensity is calculated.

In [26]:
df.drop(3, inplace=True)

In [27]:
t2c_median_vol = df[df['TNM'] == 't2c']['MRI vol'].median()
print(t2c_median_vol)

36.0

In [28]:
df.at[150, 'MRI vol'] = t2c_median_vol
df.at[193, 'MRI vol'] = t2c_median_vol
df.at[150, 'PSAdensity'] = (df.loc[150, 'PSA'] / df.loc[150, 'MRI vol']).round(2)
df.at[193, 'PSAdensity'] = (df.loc[193, 'PSA'] / df.loc[193, 'MRI vol']).round(2)

df[df['ID'].isin(['ID00151', 'ID00195'])]

,ID,wiek,PSA,data operacji,PSAdensity,Prostate vol,DRE,MRI vol,MRI Pirads,lokalizacja,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,Kolumna2,Kolumna3
150,ID00151,67.00,12.40,2017-03-08 00:00:00,0.34,NaN,NaN,36.00,3.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,14.00,1,NaN,1na4,0.00,NaN,NaN,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN
193,ID00195,68.00,9.10,2019-02-22 00:00:00,0.25,NaN,NaN,36.00,4.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,11.00,1,NaN,NaN,1.00,NaN,NaN,2.00,2.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,NaN,NaN

In [29]:
cols_to_drop = [
    # totally empty cols
    'Prostate vol',
    'Kolumna2',
    'Kolumna3',
    # mostly empty cols / unusable data
    'DRE',
    'lokalizacja',
    # unnecessary cols
    'data operacji'
]

In [30]:
df.drop(columns=cols_to_drop, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 404 entries, 0 to 406
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               404 non-null    object
 1   wiek             404 non-null    float64
 2   PSA              400 non-null    float64
 3   PSAdensity       400 non-null    float64
 4   MRI vol          404 non-null    float64
 5   MRI Pirads       402 non-null    float64
 6   MRI EPE          404 non-null    float64
 7   MRI EPE L        404 non-null    float64
 8   MRI EPE P        404 non-null    float64
 9   MRI SVI          404 non-null    float64
 10  MRI SVI L        403 non-null    float64
 11  MRI SVI P        404 non-null    float64
 12  MRI SIZE         375 non-null    float64
 13  Bx ISUP Grade P  404 non-null    object
 14  % P              226 non-null    float64
 15  wycinki P        170 non-null    object
 16  Bx ISUP Grade L  404 non-null    float64
 17  % L              209 non-null    float64
 18  wycinki L        165 non-null    object
 19  ISUP RP          403 non-null    float64
 20  ISUP RP P        403 non-null    float64
 21  ISUP RP L        403 non-null    float64
 22  SM +             404 non-null    float64
 23  N +              404 non-null    float64
 24  EPE RP           402 non-null    float64
 25  EPE L RP         402 non-null    float64
 26  EPE P RP         402 non-null    float64
 27  SVI RP           403 non-null    float64
 28  SVI RP L         403 non-null    float64
 29  SVI RP P         403 non-null    float64
 30  TNM              403 non-null    object
dtypes: float64(26), object(5)
memory usage: 117.2+ KB

Other missing values

In [31]:
df.isnull().sum()

ID                   0
wiek                 0
PSA                  4
PSAdensity           4
MRI vol              0
MRI Pirads           2
MRI EPE              0
MRI EPE L            0
MRI EPE P            0
MRI SVI              0
MRI SVI L            1
MRI SVI P            0
MRI SIZE            29
Bx ISUP Grade P      0
% P                178
wycinki P          234
Bx ISUP Grade L      0
% L                195
wycinki L          239
ISUP RP              1
ISUP RP P            1
ISUP RP L            1
SM +                 0
N +                  0
EPE RP               2
EPE L RP             2
EPE P RP             2
SVI RP               1
SVI RP L             1
SVI RP P             1
TNM                  1
dtype: int64

In [32]:
df[df['MRI SVI L'].isnull()]

,ID,wiek,PSA,PSAdensity,MRI vol,MRI Pirads,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM
23,ID00022,70.00,7.30,0.17,43.00,4.00,0.00,0.00,0.00,0.00,NaN,0.00,12.00,4,100.00,NaN,0.00,NaN,NaN,4.00,4.00,4.00,0.00,0.00,1.00,1.00,1.00,0.00,0.00,0.00,t3a

In [33]:
df.at[23, 'MRI SVI L'] = 0.0

In [34]:
df[df['MRI Pirads'].isnull()]

,ID,wiek,PSA,PSAdensity,MRI vol,MRI Pirads,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM
159,ID00160,45.00,12.20,0.47,26.00,NaN,1.00,1.00,1.00,1.00,1.00,1.00,NaN,4,25.00,6na6,4.00,30.00,2na4,5.00,5.00,5.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,t4
371,ID00377,64.00,8.00,0.11,75.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,0,NaN,NaN,2.00,15.00,NaN,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c

In [35]:
df[df['EPE RP'].isnull()]

,ID,wiek,PSA,PSAdensity,MRI vol,MRI Pirads,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM
294,ID00299,62.00,14.00,0.50,28.00,5.00,0.00,0.00,0.00,1.00,1.00,0.00,25.00,1,12.00,1na5,2.00,88.00,4na5,3.00,3.00,3.00,0.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,t3a
357,ID00363,66.00,4.30,0.12,37.00,4.00,0.00,0.00,0.00,0.00,0.00,0.00,11.00,0,NaN,NaN,2.00,NaN,3na6,2.00,0.00,2.00,0.00,0.00,NaN,0.00,0.00,0.00,0.00,0.00,t2a

In [36]:
df.at[357, 'EPE RP'] = 0.0

# na mri wykryto naciekanie na pęcherzyki ale wg TNM nie (dopiero t3b to naciek na sv)
df.at[294, 'EPE RP'] = 1.0
df.at[294, 'EPE L RP'] = 1.0
df.at[294, 'EPE P RP'] = 1.0
df.at[294, 'SVI RP'] = 0.0
df.at[294, 'SVI RP L'] = 0.0
df.at[294, 'SVI RP P'] = 0.0

In [37]:
df[df['EPE L RP'].isnull()]

,ID,wiek,PSA,PSAdensity,MRI vol,MRI Pirads,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM
337,ID00343,61.00,19.80,0.55,36.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,1,10.00,1na4,1.00,85.00,4na4,2.00,2.00,2.00,1.00,0.00,1.00,NaN,NaN,0.00,0.00,0.00,t3a

In [38]:
df.at[337, 'EPE L RP'] = 1.0
df.at[337, 'EPE P RP'] = 1.0

In [39]:
df[df['ISUP RP'].isnull()]

,ID,wiek,PSA,PSAdensity,MRI vol,MRI Pirads,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM
92,ID00092,68.00,4.30,0.08,51.00,4.00,0.00,0.00,0.00,0.00,0.00,0.00,15.00,2,10.00,NaN,0.00,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2a

In [40]:
df[df['TNM'].isnull()]

,ID,wiek,PSA,PSAdensity,MRI vol,MRI Pirads,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM
364,ID00370,68.00,13.80,0.35,39.00,4.00,0.00,0.00,0.00,0.00,0.00,0.00,7.00,0,NaN,NaN,3.00,60.00,NaN,2.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN

In [41]:
df.at[364, 'TNM'] = 't2b'

# Duplicated rows

In [42]:
print(df.duplicated().sum())

0

# Outliers

In [43]:
def count_outliers(df, numerical_cols):
    print(f"Number of outliers in:")
    for column in numerical_cols:
        q1 = df[column].quantile(0.25)
        q3 = df[column].quantile(0.75)
        iqr = q3 - q1
        lower_bound = q1 - 1.5 * iqr
        upper_bound = q3 + 1.5 * iqr
        count = ((df[column] < lower_bound) | (df[column] > upper_bound)).sum()
        print(f"  - {column}: {count} ({count/len(df)*100:.2f}%)")

numerical_cols = ['wiek', 'PSA', 'PSAdensity', 'MRI vol', 'MRI SIZE']
count_outliers(df, numerical_cols)

Number of outliers in:
  - wiek: 10 (2.48%)
  - PSA: 38 (9.41%)
  - PSAdensity: 36 (8.91%)
  - MRI vol: 20 (4.95%)
  - MRI SIZE: 23 (5.69%)

Considerable number of outliers are present but they probably stem from extreme cases of illness so we don't remove them.

# Add new columns

In [44]:
df['EPE micro'] = (((df['EPE RP'] == 1) & (df['MRI EPE'] == 0))).astype(float)
df['EPE macro'] = (((df['EPE RP'] == 1) & (df['MRI EPE'] == 1))).astype(float)
df['EPE false_positive'] = (((df['EPE RP'] == 0) & (df['MRI EPE'] == 1))).astype(float)
df['Bx ISUP Grade'] = df[['Bx ISUP Grade L', 'Bx ISUP Grade P']].max(axis=1)

In [45]:
df.head()

,ID,wiek,PSA,PSAdensity,MRI vol,MRI Pirads,MRI EPE,MRI EPE L,MRI EPE P,MRI SVI,MRI SVI L,MRI SVI P,MRI SIZE,Bx ISUP Grade P,% P,wycinki P,Bx ISUP Grade L,% L,wycinki L,ISUP RP,ISUP RP P,ISUP RP L,SM +,N +,EPE RP,EPE L RP,EPE P RP,SVI RP,SVI RP L,SVI RP P,TNM,EPE micro,EPE macro,EPE false_positive,Bx ISUP Grade
0,ID00000,63.00,5.11,0.15,35.00,4.00,1.00,0.00,1.00,0.00,0.00,0.00,10.00,1,40.00,2na4,1.00,20.00,1na5,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2,0.00,0.00,1.00,1.00
1,ID00008,64.00,5.39,0.18,30.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,1,20.00,3na8,3.00,80.00,3na7,3.00,3.00,3.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,t3a,1.00,0.00,0.00,3.00
2,ID00500,64.00,8.30,0.21,40.00,4.00,0.00,0.00,0.00,0.00,0.00,0.00,12.00,0,0.00,0na7,1.00,45.00,6na7,2.00,2.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,0.00,0.00,0.00,1.00
4,ID00001,56.00,6.80,0.20,34.00,5.00,0.00,0.00,0.00,0.00,0.00,0.00,17.00,2,100.00,NaN,1.00,NaN,NaN,3.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,t2c,0.00,0.00,0.00,2
5,ID00002,59.00,40.00,2.22,18.00,5.00,1.00,1.00,0.00,1.00,1.00,0.00,18.00,1,60.00,NaN,2.00,60.00,NaN,5.00,4.00,5.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,t3a,0.00,1.00,0.00,2.00

# Save dataset

In [47]:
df_with_biopsy = df[df['% L'].notnull() & df['% P'].notnull()]
df_with_biopsy.shape

(136, 35)

In [48]:
df_with_biopsy.isnull().sum()

ID                     0
wiek                   0
PSA                    4
PSAdensity             4
MRI vol                0
MRI Pirads             1
MRI EPE                0
MRI EPE L              0
MRI EPE P              0
MRI SVI                0
MRI SVI L              0
MRI SVI P              0
MRI SIZE              13
Bx ISUP Grade P        0
% P                    0
wycinki P             58
Bx ISUP Grade L        0
% L                    0
wycinki L             57
ISUP RP                0
ISUP RP P              0
ISUP RP L              0
SM +                   0
N +                    0
EPE RP                 0
EPE L RP               0
EPE P RP               0
SVI RP                 0
SVI RP L               0
SVI RP P               0
TNM                    0
EPE micro              0
EPE macro              0
EPE false_positive     0
Bx ISUP Grade          0
dtype: int64

In [49]:
df_with_biopsy.to_csv('.././materials/processed_df_biopsy.csv', index=False)

In [50]:
reduced_df = df.drop(columns=['wycinki P', '% P', 'wycinki L', '% L',])
reduced_df.isnull().sum()

ID                     0
wiek                   0
PSA                    4
PSAdensity             4
MRI vol                0
MRI Pirads             2
MRI EPE                0
MRI EPE L              0
MRI EPE P              0
MRI SVI                0
MRI SVI L              0
MRI SVI P              0
MRI SIZE              29
Bx ISUP Grade P        0
Bx ISUP Grade L        0
ISUP RP                1
ISUP RP P              1
ISUP RP L              1
SM +                   0
N +                    0
EPE RP                 0
EPE L RP               0
EPE P RP               0
SVI RP                 0
SVI RP L               0
SVI RP P               0
TNM                    0
EPE micro              0
EPE macro              0
EPE false_positive     0
Bx ISUP Grade          0
dtype: int64

In [51]:
reduced_df.to_csv('.././materials/processed_df_new.csv', index=False)